{{ if eq .chezmoi.os "linux" -}}
#!/bin/zsh
set -ex

mkdir -p ~/.zsh/completions

complete() {
    local cmd="$1"
    shift
    $cmd $@ > ~/.zsh/completions/_$cmd
}

complete mise completion zsh
complete kubectl completion zsh
complete gh completion -s zsh
complete jj util completion zsh
complete atuin gen-completions --shell zsh
complete tailscale completion zsh
complete uv generate-shell-completion zsh
complete k9s completion zsh
complete yq completion zsh

{{ end }}
