{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -ex

brew bundle --file=/dev/stdin <<EOF
{{ include "Brewfile" }}
EOF

# This is not done by brew bundle, and app is not signed
xattr -rd com.apple.quarantine /Applications/Stretchly.app

if [ ! -f /Library/Apple/usr/lib/libRosettaAot.dylib ]; then
    softwareupdate --install-rosetta --agree-to-license
fi

if [ ! -f /usr/local/bin/devbox ]; then
    curl -fsSL https://get.jetify.com/devbox | bash
fi

if [ ! -f "$HOME/.cargo/bin/cargo" ]; then
    curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path
fi

if [ ! -f "$HOME/.cargo/bin/jwt" ]; then
    ~/.cargo/bin/cargo install jwt-cli
fi

if [ ! -f "$HOME/.cargo/bin/macos-defaults" ]; then
    ~/.cargo/bin/cargo install --git https://github.com/dsully/macos-defaults --rev 82db239
fi

{{ end }}
