{{ if eq .chezmoi.os "darwin" -}}
#!/bin/zsh
set -e

# Disable metadata caching completely
sudo mdutil -i off -a

# config hashes
{{ range (glob (joinPath .chezmoi.sourceDir "dot_config/macos-defaults/*")) -}}
# {{ include . | sha256sum }}
{{ end }}

macos-defaults apply -v {{ joinPath .chezmoi.sourceDir "dot_config/macos-defaults" }}

# Safari doesn't reopen after kill, open in bg
open -g /Applications/Safari.app

echo "you should probably reboot to apply all the changes"

{{- end }}
