{{ if eq .chezmoi.os "linux" -}}
#!/bin/zsh
set -ex

flatpak remote-add --if-not-exists flathub https://flathub.org/repo/flathub.flatpakrepo

# remove comments and join lines into a single line
flatpak install flathub {{ include "pkgs/flatpak" | replaceAllRegex "^#.*\n" ""  | replace "\n" " " }}
flatpak update
{{ end }}
