* {
    font-family: JetBrainsMonoNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;

    font-weight: bold;
}

window#waybar {
    background-color: #000000;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.termite {
    background-color: #3f3f3f;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button {
    padding: 0 0;
    padding-left: 9px;
    padding-right: 13px;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0; /* override default min-height */
}

#workspaces button label {
    margin: 2px 0 3px 0;
    color: #c0c0c0;
}

#workspaces button label b {
    font-size: 30px;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0);
}

#workspaces button.focused {
    background-color: #6e806e;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
    box-shadow: inset 0 -3px #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpris {
    padding: 0 10px;
}

#window,
#workspaces {
    margin: 0 4px;
    margin-left: 0;
}

#clock {
    /*background-color: #64727d;*/
}

#battery {
    /*background-color: #ffffff;
    color: #000000;*/
}

#battery.charging,
#battery.plugged {
    background-color: #26a65b;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#pulseaudio {
    /*background-color: #202020;*/
}

#pulseaudio.muted {
    background-color: #404040;
}

#pulseaudio:hover {
    background-color: #202020;
}

#custom-power {
    padding-left: 6px;
    padding-right: 3px;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpris {
    font-weight: normal;
}

#mpris.paused,
#mpris.stopped {
    background-color: #101010;
}

#language {
    padding: 0 5px;

    font-weight: bold;
    font-size: 16px;
    border-radius: 5px;
}

#language.ru {
    background: #404040;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}
