* {
    font-family: JetBrainsMonoNerdFont, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
}

window#waybar {
    background-color: #000000;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: none;
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inherit;
    text-shadow: inherit;
}

menu {
    border-radius: 15px;
    background: #161320;
    color: #b5e8e0;
}

menuitem {
    border-radius: 5px;
}

#workspaces button {
    padding: 0 0;
    padding-left: 9px;
    padding-right: 13px;
    background-color: transparent;
    border-radius: 5px;
    min-height: 0; /* override default min-height */
}

#workspaces button label {
    margin: 2px 0 3px 0;
    color: #c0c0c0;
}

#workspaces button label b {
    font-size: 30px;
}

#workspaces button.focused {
    background-color: #6e806e;
}

#workspaces button.visible:not(.focused) {
    background-color: #374037;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727d;
}

#mode,
#scratchpad,
#mpris {
    padding: 0 10px;
}

#tray {
    padding: 0 6px;
}

#language {
    padding: 0 6px;
}

#pulseaudio {
    padding: 0 9px;
    padding-left: 8px;
}

#power-profiles-daemon {
    padding: 0 8px;
}
#power-profiles-daemon.power-saver {
    /* i hate this */
    padding-right: 9px;
}
#power-profiles-daemon.balanced {
    padding-right: 14px;
}

#battery {
    padding: 0 0;
}

#clock {
    padding: 0 15px;
    padding-right: 8px;
}

#custom-dark_mode {
    padding: 0 5px;
    padding-right: 9px;
}
#idle_inhibitor {
    padding: 0 4px;
    padding-right: 3px;
}

#custom-power {
    padding: 0 5px;
    padding-right: 8px;
    margin-right: 4px;
}

#workspaces button:hover,
#power-profiles-daemon:hover,
#pulseaudio:hover,
#idle_inhibitor:hover,
#custom-dark_mode:hover,
#custom-power:hover,
#mpris:hover,
#dummy {
    background-color: #404040;
    border-radius: 5px;
}

#workspaces {
    margin: 0 4px;
    margin-left: 0;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
    border-radius: 5px;
}

#mpris.paused,
#mpris.stopped {
    background-color: #101010;
    border-radius: 5px;
}

#language {
    min-width: 20px;

    font-size: 16px;
    border-radius: 5px;
}

#language.ru {
    background: #808080;
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0 8px;
}

#privacy-item {
    padding: 0;
}

#privacy-item.screenshare image {
    color: #cf5700;
}

#privacy-item.audio-in image {
    color: #1ca000;
}
