@import url('file:///usr/local/google/home/ilyaluk/.cache/wal/colors-waybar.css');

* {
    border: none;
    border-radius: 0;
    font-family: Roboto, Helvetica, Arial, sans-serif;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background-color: @foreground;
    color: @background;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: #000000;
    border: none;
}

#workspaces button {
    padding: 0 5px;
    background-color: transparent;
    color: @background;
    border-bottom: 3px solid transparent;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    box-shadow: inherit;
    border-bottom: 3px solid @background;
}

#workspaces button.focused {
    background-color: @color8;
    border-bottom: 3px solid @background;
}

#workspaces button.urgent {
    background-color: @color1;
}

#mode {
    background-color: @color3;
    border-bottom: 3px solid @background;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-spotify,
#tray,
#mode,
#mpd,
#idle_inhibitor {
    padding: 0 6px;
    margin: 0 4px;
    color: @background;
}

#clock {
    background-color: @color8;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-spotify,
#cpu {
    background-color: @color2;
    color: @background;
}

#memory {
    background-color: @color6;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: @color4;
}

#network.disconnected {
    background-color: @color1;
}

#pulseaudio {
    background-color: @color3;
    color: @background;
}

#pulseaudio.muted {
    background-color: @color8;
    color: @foreground;
}

#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-media.custom-spotify {
    background-color: #66cc99;
}

#custom-media.custom-vlc {
    background-color: #ffa000;
}

#temperature {
    background-color: @color3;
}

#temperature.critical {
    background-color: @color1;
}

#tray {
    background-color: #2980b9;
}

#idle_inhibitor {
    background-color: @color8;
}

#idle_inhibitor.activated {
    background-color: @color0;
    color: @foreground;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}
