{{ template "hash_tmpl_warn" . }}

[tools]
github-cli = "latest"
jj = "latest"
usage = "latest"
uv = "latest"
jjui = "latest"
atuin = "latest"
rust = "latest"
"pipx:llm" = "latest"
go = "latest"
pipx = "latest"
node = "22"
yq = "latest"
zoxide = "latest"
gofumpt = "latest"
staticcheck = "latest"
golangci-lint = "1"
mitmproxy = "latest"
python = "3.12.12"
{{ if .work -}}
aws-cli = { version = "latest", symlink_bins = "true" }
kubectl = "latest"
terragrunt = "latest"
k9s = "latest"
"github:busser/tfautomv" = "latest"
gcloud = "latest"
terraform = "1.10.5"
vault = "latest"
clickhouse = "latest"
argocd = "latest"
helm = "latest"
helm-ls = "latest"
helm-diff = "latest"
talosctl = "latest"
foundry = "latest"
s5cmd = "latest"
dyff = "latest"
{{ end -}}

[settings]
idiomatic_version_file_enable_tools = ["terraform"]

[settings.python]
